{% extends './template/layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ data.titulo }}</h1>
  <p>{{ data.descripcion }}</p>
  <p>Puede usar el siguiente link:
    <div><span id="link">{{ data.link }}</span></div>
  <button onclick="copyLink()">Copiar</button></p>

<form id="form" method="POST">
    <label for="input-number">Ingrese un valor para probar la funcion:</label>
    <input type="text" name="input-link" placeholder="Ingrese un enlace">
    <button type="submit" id="submit-btn">Enviar</button>
</form>
<p>{{ data.prediccion }}</p>
<div id="result-container"></div>


<script>
  function copyLink() {
    var linkText = document.getElementById("link").innerText;
    var tempInput = document.createElement("input");
    tempInput.value = linkText;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
    alert("¡El enlace se ha copiado al portapapeles!");
  }
</script>

<!-- Agregar script de AJAX con jQuery -->
<script type="text/javascript">
  $(document).ready(function() {
    $('form').submit(function(event) {
      event.preventDefault(); // Prevenir envío por defecto
      $.ajax({
        type: 'POST',
        url: '{{ url_for("predict") }}', // URL de Flask
        data: $('form').serialize(), // Datos del formulario
        success: function(response) { // Función en caso de éxito
          $('#result-container').html(response); // Mostrar respuesta en el contenedor
        },
        error: function(error) { // Función en caso de error
          console.log(error);
        }
      });
    });
  });
</script>
{% endblock %}
