{% extends './template/layout.html' %}

{% block content %}
  <!-- Contenido de la página -->
  <form id="form-train" method="POST">
    <!-- Resto de los campos del formulario -->
    <input type="hidden" name="train-btn" value="1">
    <button type="submit" id="submit-btn">Entrenar modelo</button>
  </form>

  <textarea id="result-textarea" rows="10" cols="50" readonly></textarea>
  
  <script>
    // JavaScript adicional
    $(function() {
      $('#form-train').submit(function(e) {
        e.preventDefault();  // Evitar el envío del formulario por defecto
        $.ajax({
          url: '{{ url_for("train") }}',  // URL de Flask para iniciar el entrenamiento
          type: 'POST',
          data: $(this).serialize(),
          success: function(response) {
            // Lógica para manejar la respuesta del servidor
            $('#result-textarea').val(response);
          },
          error: function(error) {
            // Lógica para manejar errores
            console.error(error);
          }
        });
      });
    });
  </script>
{% endblock %}
