{% extends './template/layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block content %}

<div class="container">
  <h1>{{ data.titulo }}</h1>
  <p>{{ data.descripcion }}</p>
  <p>Puede usar el siguiente link o cargar sus propios datos, siguiendo el formato presentado en:
    <div><span id="link">{{ data.link }}</span></div>
  <button onclick="copyLink()">Copiar</button></p>


<form id="form-train" method="POST">
    <label for="input-number">Ingrese un valor para probar la funcion:</label>
    <input type="text" name="input-link" placeholder="Ingrese un enlace">
    <input type="hidden" name="train-btn" value="1">  
    <button type="submit" id="submit-btn">Entrenar modelo</button>
</form>


<textarea id="result-textarea" rows="5" cols="50" readonly></textarea>
  

<script>
  function copyLink() {
    var linkText = document.getElementById("link").innerText;
    var tempInput = document.createElement("input");
    tempInput.value = linkText;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
    alert("¡El enlace se ha copiado al portapapeles!");
  }
</script>

  <script>
    // JavaScript adicional
    $(function() {
      $('#form-train').submit(function(e) {
        e.preventDefault();  // Evitar el envío del formulario por defecto
        $.ajax({
          url: '{{ url_for("train") }}',  // URL de Flask para iniciar el entrenamiento
          type: 'POST',
          data: $(this).serialize(),
          success: function(response) {
            // Lógica para manejar la respuesta del servidor
            $('#result-textarea').val(response);
          },
          error: function(error) {
            // Lógica para manejar errores
            console.error(error);
          }
        });
      });
    });
  </script>
{% endblock %}
